body {
  font-family: 'Lato', sans-serif;
  font-size: var(--font-size);
}

:root {
  --size: 1rem;
}

/* Fluid size from medium to large (Be sure to update from --width variables) */
@media (min-width: 800px) and (max-width: 1200px) {
  :root {
    --size: 1.1rem;
  }
}

/* Size from large up */
@media (min-width: 1200px) {
  :root {
    --size: 1.2rem;
  }
}
