.main-page {
  break-inside: avoid;
}

@media (min-width: 50em) and (max-width: 70em) {
  .main-page {
    column-count: 2;
  }
}

@media (min-width: 70em) {
  .main-page {
    column-count: 3;
  }
}
